
html { 
    font-family: 'Lato', sans-serif;
    color: #333; 
}
body { 
    max-width: 400px; 
    margin: 0 auto; 
    padding: 0 15px;
 }
div, p {
     padding: 10px 20px; 
     border: 3px solid #444; 
     margin-bottom: 10px;
     color: white;
    }
.heading1{
    background-color: burlywood;
    padding: 20px 40px;
    text-align: center;
}

.redBg{
    background-color: red;
}
.paleBg{
    background-color: palevioletred;
}
.tealBg{
    background-color: teal;
}
.slateBg{
    background-color: slateblue;
}
.salmonBg{
    background-color: salmon;
}
